<form (ngSubmit)="loginSubmit()"  autocomplete="off">

<div class="conteneur">
  <md-toolbar color="warn">
      <span>Se connecter</span>
  </md-toolbar>
  <md-card>
    
    <md-card-content>
      <div class="impossible" *ngIf="impossible">Votre e-mail ou votre mot de passe est incorrect, essayez de nouveau.</div>
        <md-input [(ngModel)]="loginForm.email" id="email" name="email"  class="form-control" placeholder="Email" type="email" required class="cent"></md-input>
        <md-input [(ngModel)]="loginForm.passe" id="passe" name="
        passe"  class="form-control" placeholder="Mot de passe" type="password" required  class="cent"></md-input>
    </md-card-content>

    <md-card-actions class="droite">
          <button md-button>Oublie ?</button>
          <button md-raised-button color="warn">Se connecter</button>
    </md-card-actions>
  </md-card>
</div>


</form>