<div class="conteneur">
  <md-toolbar color="warn">
      <span>Se connecter</span>
  </md-toolbar>
  <md-card>
    
    <md-card-content>
        <md-input placeholder="Email" align="end" class="cent"></md-input>
        <md-input placeholder="Mot de passe" align="end" class="cent"></md-input>
    </md-card-content>

    <md-card-actions class="droite">
          <button md-button>Oublie ?</button>
          <button md-raised-button color="warn">Se connecter</button>
    </md-card-actions>
  </md-card>
</div>