<md-toolbar color="primary" class="toolbar">
  <span>Pasteque</span>
  
  <!-- This fills the remaining space of the current row -->
  <span class="align-droite"></span>
  
  <span>Se connecter</span>
</md-toolbar>

  <md-sidenav-layout class="sidebar" flex>
    <md-sidenav mode="side" align="start" opened="true" class="sidenav">

    <md-nav-list>
      <a md-list-item href="...">Accueil</a>
      <a md-list-item href="..." class="active">Commerciaux</a>
      <a md-list-item href="...">Clients</a>
      <a md-list-item href="...">Ventes</a>
      <a md-list-item href="...">Stock</a>
      <a md-list-item href="...">Livraisons</a>
    </md-nav-list>

    <md-nav-list>


  </md-nav-list>
      
    </md-sidenav>
    <div class="content">

      <md-card>
        <md-card-subtitle>Subtitle first</md-card-subtitle>
        <md-card-title>Card with title</md-card-title>   
        <md-card-content>
              <p>This is supporting text.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
        </md-card-content>
        <md-card-actions>
              <button  md-raised-button>LIKE</button>
              <button  md-raised-button>SHARE</button>
        </md-card-actions>
      </md-card>

    </div><!-- end content -->
  </md-sidenav-layout>


